<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<header th:insert="block/header :: header"/>
<aboutme th:insert="block/aboutme :: aboutme"/>
<br>

<div class="container">
    <div th:each="i : ${#numbers.sequence(posts.size() - 1, 0 , -1)}" class="shadow p-3 mb-5 bg-white rounded">
        <h4 th:text="${posts[i].company}"/>
        <p th:text="${posts[i].years}"/>
        <p th:text="${posts[i].position}"/>
        <a th:href="'/' + ${posts[i].id}" class="btn btn-warning">Подробнее</a>

    </div>

</div>

</body>
</html>