<div th:fragment="aboutme">
    <div class="container mt-5">
        <div class="media">
            <img class="mr-3" src="/ny.jpg" alt="Павел Ермишин">
            <div class="media-body">
                <h3 class="mt-0">Павел Ермишин</h3>
                <br>
                <br>
                Мужчина, 30 лет, родился 11 сентября 1990 <br>
                Москва, м. ш. Энтузиастов, не готов к переезду, готов к командировкам<br>
                7 (967) 041-99-78, ermishinpavel@gmail.com
            </div>
        </div>
    </div>
</div>